.App {
  padding: 50px;
  width: 800px;
}

.container {
  width: 1000px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.j-center {
  justify-content: center;
}

.space-btw {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.grow1 {
  flex: 1
}

.grow3 {
  flex: 3
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.p-10 {
  padding: 10px;
}

.p-50{
    padding: 50px
}
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 400px;
  height: auto;
  
  background-color: azure;
}

.register input {
  width: 300px;
  margin: 20px;
  

}
.register button {
  width: 100px;

}
.usercard {
  width: 200px;
  margin: 20px;
 
}
.usercard img {
  width:100px;
}
.msg {
  color: red;
}